<!-- <p>blog-list works!</p>
<div class="row">
    <table class="table col-5 m-4 w-50">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Published At</th>
            <th></th>
        </tr>
        <tr *ngFor="let blog of BlogData">
             <td>{{blog.title}}</td>
             <td>{{blog.description}}</td>
             <td>{{blog.published_at}}</td>
             <td><button class="btn btn-outline-success" (click)="selectBlog(blog)">View Blog</button></td>
        </tr>
    </table>
    <div class="col-5" *ngIf="selectedBlog">
        <h4>{{selectedBlog.title}}</h4>
        <hr>
        <p>{{selectedBlog.description}}</p>
        <p>{{selectedBlog.published_at}}</p>
        <p>{{selectedBlog.no_of_likes}}</p>
        <p>{{selectedBlog.no_of_comments}}</p>
        <p>{{selectedBlog.image_url}}</p>
        <p>{{selectedBlog.slug}}</p>
        <p>{{selectedBlog.full_name}}</p>
        <p>{{selectedBlog.category_name}}</p>
        <p>{{selectedBlog.tags}}</p>
    </div>
</div> -->



<!-- <div  class="row">
    <div class="col-lg-6" *ngFor="let blog of BlogData"> -->
      <!-- Blog post -->
      <!-- <div class="card mb-4" >
        <a href="#!">
          <img
            class="card-img-top"
            src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
            alt="..."
          />
        </a>
        <div class="card-body">
          <div class="small text-muted">{{blog.published_at |  date:'longDate'}}</div>
          <h2 class="card-title h4">{{blog.title}}</h2>
          <p class="card-text">
            {{blog.description}}
          </p>
          <a class="btn btn-custom" routerLink="/viewblog">Read more →</a>
        </div>
      </div>  
    </div> 
  </div> -->

<!-- <div class="d-flex flex-column align-items-center">
    <div class="row justify-content-center  w-75">
        <input class="form-control w-25" type="search" placeholder="Search"> -->
        <!-- <span class="input-group-text  col-6"><button type="submit" class="btn"><i class="fa-solid fa-magnifying-glass text-secondary-emphasis"></i></button></span>
        <i class="fa-solid fa-circle-chevron-down  fa-3x col-6"></i>
        
    </div>
    <div class="row justify-content-center m-0 flex-nowrap">
      <button class="btn btn-warning col-3 m-1">For You</button>
      <button class="btn btn-warning col-3 m-1">Trending</button>
      <button class="btn btn-warning col-3 m-1">Fashion</button>
      <button class="btn btn-warning col-3 m-1">Technology</button>
    </div>
    <div class="row justify-content-center w-75" >
      <div class="col">
        <h1>Title</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, enim? Asperiores doloribus deleniti ex autem alias modi ducimus tempore sunt molestias. Velit id quaerat tenetur rerum cum exercitationem aliquid hic perferendis, quia, omnis perspiciatis? Unde animi et vel corrupti totam?</p>
     
      <div class="row">
        <i class="fa-solid fa-portrait col-1"></i>
        <span class="col"></span>
        <span class="col">Published at date</span>
        <span class="col">Time</span>
        <button class="btn btn-warning col-2">Read More</button>
      </div>
      <hr>
      <div class="row justify-content-between">
          <div class="col-6">
            <i class="fa-solid fa-heart m-1 ">988</i>
            <i class="fa-solid fa-comment m-1">200</i>
            <i class="fa-solid fa-share m-1">10</i>
          </div>
          <div class="col"> <i class="fa-solid fa-bookmark"></i></div>
      </div>
      </div>
    </div>

    <div class="row justify-content-center w-75" >
      <div class="col">
        <h1>Title</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, enim? Asperiores doloribus deleniti ex autem alias modi ducimus tempore sunt molestias. Velit id quaerat tenetur rerum cum exercitationem aliquid hic perferendis, quia, omnis perspiciatis? Unde animi et vel corrupti totam?</p>
      <div class="row">
        <i class="fa-solid fa-portrait col-1"></i>
        <span class="col">Author name</span>
        <span class="col">Published at date</span>
        <span class="col">Time</span>
        <button class="btn btn-warning col-2">Read More</button>
      </div>
      <hr>
      <div class="row justify-content-between">
          <div class="col-6">
            <i class="fa-solid fa-heart ">988</i>
            <i class="fa-solid fa-comment">200</i>
            <i class="fa-solid fa-share">10</i>
          </div>
          <div class="col"> <i class="fa-solid fa-bookmark"></i></div>
      </div>
      </div>
    </div>
    <div class="row justify-content-center w-75" >
      <div class="col">
        <h1>Title</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, enim? Asperiores doloribus deleniti ex autem alias modi ducimus tempore sunt molestias. Velit id quaerat tenetur rerum cum exercitationem aliquid hic perferendis, quia, omnis perspiciatis? Unde animi et vel corrupti totam?</p>
      <div class="row">
        <i class="fa-solid fa-portrait col-1"></i>
        <span class="col">Author name</span>
        <span class="col">Published at date</span>
        <span class="col">Time</span>
        <button class="btn btn-warning col-2">Read More</button>
      </div>
      <hr>
      <div class="row justify-content-between">
          <div class="col-6">
            <i class="fa-solid fa-heart ">988</i>
            <i class="fa-solid fa-comment">200</i>
            <i class="fa-solid fa-share">10</i>
          </div>
          <div class="col"> <i class="fa-solid fa-bookmark"></i></div>
      </div>
      </div>
    </div>
    <div class="row justify-content-center w-75" >
      <div class="col">
        <h1>Title</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, enim? Asperiores doloribus deleniti ex autem alias modi ducimus tempore sunt molestias. Velit id quaerat tenetur rerum cum exercitationem aliquid hic perferendis, quia, omnis perspiciatis? Unde animi et vel corrupti totam?</p>
      <div class="row">
        <i class="fa-solid fa-portrait col-1"></i>
        <span class="col">Author name</span>
        <span class="col">Published at date</span>
        <span class="col">Time</span>
        <button class="btn btn-warning col-2">Read More</button>
      </div>
      <hr>
      <div class="row justify-content-between">
          <div class="col-6">
            <i class="fa-solid fa-heart ">988</i>
            <i class="fa-solid fa-comment">200</i>
            <i class="fa-solid fa-share">10</i>
          </div>
          <div class="col"> <i class="fa-solid fa-bookmark"></i></div>
      </div>
      </div>
    </div>
  </div> -->

<!-- <div class="row justify-content-center m-0 flex-nowrap">
    <button class="btn btn-warning col-3 m-1">For You</button>
    <button class="btn btn-warning col-3 m-1">Trending</button>
    <button class="btn btn-warning col-3 m-1">Fashion</button>
    <button class="btn btn-warning col-3 m-1">Technology</button>
  </div>
  <div class="row justify-content-center w-75" *ngFor="let blog of BlogData" >
    <div class="col m-4 ">
      <h1>{{blog.title}}</h1>
    <p>{{blog.description}}</p>
   
    <div class="row">
      <i class="fa-solid fa-portrait col-1"></i>
      <span class="col">{{blog.full_name}}</span>
      <span class="col">{{blog.published_at | date:"longDate"}}</span>
     
      <button class="btn btn-warning col-2">Read More</button>
    </div>
   
    <div class="row justify-content-between">
        <div class="col-6">
          <i class="fa-solid fa-heart m-1 ">{{blog.no_of_likes}}</i>
          <i class="fa-solid fa-comment m-1">{{blog.no_of_comments}}</i>
          <i class="fa-solid fa-share m-1">10</i> -->
        <!-- </div>
        <div class="col"> <i class="fa-solid fa-bookmark"></i></div>  -->
    <!-- </div>
    </div>
    <hr>
  </div> -->
<div class="blog-categoires">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" class="navbar-nav  nav-underline fs-3 m-3 border-bottom flex-row  justify-content-between " (activeIdChange)="fetchBlogs($event)">
    <li [ngbNavItem]="ALL_ID">
      <button ngbNavLink>All</button>
      <ng-template ngbNavContent>
        <div class="blogs" id="blogs" >
          <div class="row m-0 align-items-center">
            <i class="col-auto fa-solid fa-arrow-trend-up fa-2x"></i>
            <h3 class="col m-2 "> Trending Blogs </h3>
          </div>
          <div class=" row m-0 justify-content-center">
      
            <div class="blog-box col-lg-4 col-10 border-end" *ngFor="let blog of BlogData">
              <div class=" d-flex flex-column mb-3">
                <div class="p-2"><img class="image-height" src="assets\images\computer.jpg" alt="test"></div>
      
                <div class="p-2 row m-0">
                  <h3 class="col-6 ">{{blog.title}}</h3>
                  <a class="col-6 text-end" [routerLink]="['/blog',blog.slug]"><i
                      class=" fa-2x fa-solid  fa-arrow-up-right-from-square" style="color: #000000; "></i></a>
                </div>
                <div class="p-2">
                  <p class="p-2">
                    {{blog.description}}
                  </p>
      
                </div>
      
      
                <div class="row">
                  <i class="fa-solid fa-portrait col-1"></i>
                  <span class="col ">{{blog.full_name}}</span>
                  <span class="col">{{blog.published_at |date:'longDate'}}</span>
                  <!-- <button class="btn btn-warning col-2">Read More</button> -->
                </div>
      
      
                <div class="row justify-content-center">
                  <div class="col-6 text-center">
                    <i class="fa-solid fa-heart m-1 ">{{blog.no_of_likes}}</i>
                    <i class="fa-solid fa-comment m-1">{{blog.no_of_comments}}</i>
                  </div>
                </div>
              </div>
            </div>
      
      
          </div>
          </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="category.category_id" *ngFor="let category of CategoryData">
      <button ngbNavLink>{{category.category_name}}</button>
      <ng-template ngbNavContent>
        <div class="blogs" id="blogs" >
          <!-- <div class="row m-0 align-items-center">
            <i class="col-auto fa-solid fa-arrow-trend-up fa-2x"></i>
            <h3 class="col m-2 "> Trending Blogs </h3>
          </div> -->
          <div class=" row m-0 justify-content-center">
      
            <div class="blog-box col-lg-4 col-10 border-end" *ngFor="let blog of BlogData">
              <div class=" d-flex flex-column mb-3">
                <div class="p-2"><img class="image-height" src="assets\images\computer.jpg" alt="test"></div>
      
                <div class="p-2 row m-0">
                  <h3 class="col-6 ">{{blog.title}}</h3>
                  <a class="col-6 text-end" [routerLink]="['/blog',blog.slug]"><i
                      class=" fa-2x fa-solid  fa-arrow-up-right-from-square" style="color: #000000; "></i></a>
                </div>
                <div class="p-2">
                  <p class="p-2">
                    {{blog.description}}
                  </p>
      
                </div>
      
      
                <div class="row">
                  <i class="fa-solid fa-portrait col-1"></i>
                  <span class="col ">{{blog.full_name}}</span>
                  <span class="col">{{blog.published_at |date:'longDate'}}</span>
                  <!-- <button class="btn btn-warning col-2">Read More</button> -->
                </div>
      
      
                <div class="row justify-content-center">
                  <div class="col-6 text-center">
                    <i class="fa-solid fa-heart m-1 ">{{blog.no_of_likes}}</i>
                    <i class="fa-solid fa-comment m-1">{{blog.no_of_comments}}</i>
                  </div>
                </div>
              </div>
            </div>
      
      
          </div>
          </div>
      </ng-template>
    </li>
  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
  <pre>Active: {{ active }}</pre>
  <!-- <div class="blog-categoires">
    <ul class=" navbar-nav  nav-underline fs-3 m-3 border-bottom flex-row  justify-content-between ">
      <li class="nav-item">
        <a class="nav-link text-black" href="#blogs">Featured</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black" href="#">Social</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-black" href="#">Political</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-black" href="#">Cultural</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black" href="#">Technology</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black" href="#">Education</a>
      </li>


    </ul>

  </div> -->
